*.o
*/build/
.DS_Store
.metadata
*.dep
*.dat
.settings

#xcode noise
*.pbxuser
*.modelv3
.svn
profile
*.xcuserstate
bin/

Ever/Ever.xcodeproj/project.xcworkspace/
Ever/Ever.xcodeproj/xcuserdata/
Ever/Podfile.lock
Ever/Pods/
FernandoStore/FernandoStore.xcodeproj/project.xcworkspace/
FernandoStore/FernandoStore.xcodeproj/xcuserdata/
